.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

@media screen and (max-width:768px) {
    .products{
       display: flex;
       flex-direction: column;
    }
}
