nav{
    width: 100%;
}
.nav-wrapper{
    padding-left: 1rem;
}

ul li{
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}



@media(max-width:768px) {
   nav{
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
   }

   #nav-mobile{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 3.5rem;
    align-items: center;
    
   }
   
}